{% extends "feed/layout.html" %} {% load static %} {% load crispy_forms_tags %}
{% block searchform %}
<form
  class="form-inline my-2 my-lg-0 ml-5"
  action="{% url 'search_posts' %}"
  method="get"
>
  <input name="p" type="text" placeholder="Search posts.." />
  <button class="btn btn-success my-2 my-sm-0 ml-4" type="submit">
    Search
  </button>
</form>
{% endblock searchform %} {% block content %}
<br /><br />
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-md-90 col-lg-30 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center"><b>Post</b></h5>
          <form class="form-signin" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
              <br />
              {{ form|crispy }}
              {{ form.media }}
            </fieldset>

            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
              $(document).ready(function() {
                var startDateFormatSelect = $('#id_start_date_format');
                var startDateField = $('#id_start_date');
                var monthDropdown = $('<select>').attr('name', 'month').hide();
                var yearDropdown = $('<select>').attr('name', 'year').hide();
                var seasonDropdown = $('<select>').attr('name', 'season').hide();

                function showDateField() {
                  startDateField.attr('type', 'date');
                  startDateField.show();
                  monthDropdown.hide();
                  yearDropdown.hide();
                  seasonDropdown.hide();
                }

                function showMonthDropdown() {
                  startDateField.hide();
                  monthDropdown.show();
                  yearDropdown.hide();
                  seasonDropdown.hide();
                }

                function showYearDropdown() {
                  startDateField.hide();
                  monthDropdown.hide();
                  yearDropdown.show();
                  seasonDropdown.hide();
                }

                function showSeasonDropdown() {
                  startDateField.hide();
                  monthDropdown.hide();
                  yearDropdown.hide();
                  seasonDropdown.show();
                }

                function populateDropdown(dropdown, options) {
                  dropdown.empty();
                  for (var i = 0; i < options.length; i++) {
                    var option = $('<option>').text(options[i]).val(options[i]);
                    dropdown.append(option);
                  }
                }

                function setStartDateDisplay(selectedValue) {
                  if (selectedValue === '1') {
                    showDateField();
                  } else if (selectedValue === '2') {
                    showMonthDropdown();
                  } else if (selectedValue === '3') {
                    showYearDropdown();
                  } else if (selectedValue === '4') {
                    showSeasonDropdown();
                  } else {
                    startDateField.hide();
                    monthDropdown.hide();
                    yearDropdown.hide();
                    seasonDropdown.hide();
                  }
                }

                setStartDateDisplay(startDateFormatSelect.val());

                startDateFormatSelect.on('change', function() {
                  var selectedValue = $(this).val();
                  setStartDateDisplay(selectedValue);
                });

                // Populate month dropdown with options
                var monthOptions = [
                  'January', 'February', 'March', 'April', 'May', 'June',
                  'July', 'August', 'September', 'October', 'November', 'December'
                ];
                populateDropdown(monthDropdown, monthOptions);

                // Populate year dropdown with options
                var currentYear = new Date().getFullYear();
                var yearOptions = [];
                for (var i = currentYear; i >= currentYear - 100; i--) {
                  yearOptions.push(i.toString());
                }
                populateDropdown(yearDropdown, yearOptions);

                // Populate season dropdown with options
                var seasonOptions = ['Spring', 'Summer', 'Autumn', 'Winter'];
                populateDropdown(seasonDropdown, seasonOptions);

                startDateField.after(monthDropdown);
                startDateField.after(yearDropdown);
                startDateField.after(seasonDropdown);

                // Save the selected value to the start_date field
                monthDropdown.on('change', function() {
                  var selectedMonth = $(this).val();
                  startDateField.val(selectedMonth);
                });

                yearDropdown.on('change', function() {
                  var selectedYear = $(this).val();
                  startDateField.val(selectedYear);
                });

                seasonDropdown.on('change', function() {
                  var selectedSeason = $(this).val();
                  startDateField.val(selectedSeason);
                });
              });
           </script> 
          
            <div class="form-group">
              <button
                class="btn btn-lg btn-primary btn-block text-uppercase"
                type="submit"
              >
                Post</button
              ><br />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% block jsfiles %}{% endblock jsfiles %}




